
.innerframe {
    display: grid;
    grid-template-columns: repeat(15, auto);
    grid-template-rows: repeat(12,auto);
    height: 720px;
    width: 900px;
    z-index: 1;
}

.light-floor-1 {
    background-image: url("img/light_floor_1.png");
}

.light-floor-2 {
    background-image: url("img/light_floor_2.png");
}

.dark-floor-1 {
    background-image: url("img/dark_floor_1.png");
}

.dark-floor-2 {
    background-image: url("img/dark_floor_2.png");
}

.gameframe {
    position: absolute;
    display: grid;
    height: 720px;
    width: 900px;
    z-index: 10;
    grid-template-columns: repeat(15, auto);
    grid-template-rows: repeat(12,auto);
    grid-template-areas:
    "letocr letocr .  . . . . . . . . . . ritocr ritocr"
    "letocr letocr .  . . . . . . . . . . ritocr ritocr"
    ". . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . ."
    "lebtcr lebtcr .  . . . . . . . . . . ribtcr ribtcr"
    "lebtcr lebtcr .  . . . . . . . . . . ribtcr ribtcr";
}

.imagesize {
    height: 120px;
    width: 120px;
}

.letocr {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);    
}

.ritocr {
}

.lebtcr {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.ribtcr {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}